.card {
  display: block;

  color: $primary-text-color;
  font-weight: 500;

  background-color: $card-background;
  border: 1px solid $border-color;
  border-radius: $border-radius;

  &__title {
    display: block;
    margin-top: 0;
    margin-bottom: $card-title-spacer-y;
  }

  &__body {
    display: block;
    margin: 0;
    padding: ($card-spacer-y / 1.5) ($card-spacer-x / 1.5);

    @include media-breakpoint-up(md) {
      padding: $card-spacer-y $card-spacer-x;
    }
  }

  &__text {
    margin: 0 0 map-get($spacers, 3);

    &--color-primary {
      color: $primary-text-color;
    }
  }
}
