.loading {
  overflow: hidden;

  background-color: $layout-bg-3;
  border-radius: $border-radius;

  &__animated-background {
    position: relative;

    height: 100%;

    background: $dark;
    background: linear-gradient(to right, $layout-bg-2 10%, $layout-bg-3 18%, $layout-bg-2 33%);
    background-size: 800px 104px;

    animation-name: placeholder-shimmer;
    animation-duration: 1.25s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-fill-mode: forwards;
  }
}

@keyframes placeholder-shimmer {
  0% {
    background-position: -468px 0;
  }

  100% {
    background-position: 468px 0;
  }
}
