.main-layout {
  display: grid;
  grid-template-columns: repeat($layout-columns, 1fr);
  gap: $layout-row-gutter $layout-column-gutter;
  margin: 0 auto;
  padding: map-get($spacers, 2);

  @include media-breakpoint-up(md) {
    padding: map-get($spacers, 3);
  }

  @each $breakpoint, $max-width in $layout-max-widths {
    @include media-breakpoint-up($breakpoint) {
      max-width: $max-width;
    }
  }

  &__shop {
    display: grid;
    grid-column: 1 / -1;
    grid-template-columns: repeat($layout-columns, 1fr);
    gap: $layout-row-gutter $layout-column-gutter;
  }

  &__products {
    grid-column: 1 / -1;

    @include media-breakpoint-up(lg) {
      grid-column: 1 / 8;
    }
  }

  &__cart {
    position: sticky;
    top: map-get($spacers, 3);
    bottom: 0;

    display: flex;
    flex-direction: column;
    row-gap: $aside-row-gutter;
    grid-column: 1 / -1;
    align-self: start;

    @include media-breakpoint-up(lg) {
      grid-column: 8 / -1;
    }
  }
}
